/*makes everything border box*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
/*give body 0 margin to fit full screen*/
  body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height:64px;
    background-color: #1f2937;
}

.logo{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
    margin-left: 15vw;
}

.header-links{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    padding: 14px 16px;
    gap: 1.75em;
    margin-right: 15vw;
}

a{
    color: #e5e7eb;
    text-decoration: none;
}

.main{
  background-color: #1f2937;
  display: flex;
}

.left{
  border: 2px solid red;
  margin-left: 15vw;
}

.hero-txt{
  font-size: 48px;
  font-weight: 800px;
  color: #f9faf8;
}

.hero-secondary{
  font-size: 18px;
  color: #e5e7eb;
}
.image{
  display: flex;
  height: 100px;
  width: 150px;
}