/*makes everything border box*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    background-color: #1f2937;
}

.logo{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
    margin-left: 25vh;
}

.header-links{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    padding: 14px 16px;
    gap: 1.5em;
    margin-right: 25vh;
}

a{
    color: #e5e7eb;
    text-decoration: none;
}
